*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Digital-7', sans-serif;
}

body{
    display: grid;
    width: 100%;
    min-height: 100vh;
    background-image: radial-gradient(circle at top right, rgb(105, 135, 213) 0%, rgb(105, 135, 213) 14.286%,rgb(94, 121, 206) 14.286%, rgb(94, 121, 206) 28.572%,rgb(82, 107, 199) 28.572%, rgb(82, 107, 199) 42.858%,rgb(71, 94, 193) 42.858%, rgb(71, 94, 193) 57.144%,rgb(59, 80, 186) 57.144%, rgb(59, 80, 186) 71.43%,rgb(48, 66, 179) 71.43%, rgb(48, 66, 179) 85.716%,rgb(36, 52, 172) 85.716%, rgb(36, 52, 172) 100.002%);
}
.bg{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
header{
    font-size: 5rem;    
    padding: 1rem;
    margin: auto;
    font-family: "Digital-7";
    background-image: linear-gradient(90deg, rgb(122, 113, 207) 50.099999999999994%,rgb(101, 156, 217) 50.099999999999994%, rgb(101, 156, 217) 66.8%,rgb(81, 198, 228) 66.8%, rgb(81, 198, 228) 83.5%,rgb(61, 241, 238) 83.5%, rgb(61, 241, 238) 100.2%);
    transition: all .4s linear;
    /* border: solid 2px white; */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
}
header:hover{
    backdrop-filter: blur(5px);
    text-shadow: 5px 5px 0px rgba(255, 255, 255, 0.45);
}

.calci{
    display: flex;
    flex-direction: column;
    margin: auto;
    color: white;
    max-width: 600px;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 5pt;
    background-color: hsla(255,10%,100%,0.45);
    box-shadow: 2px 2px 5px white;
    transition: all .4s linear;
}
.calci:hover{
    box-shadow: -2px -2px 5px white;
}
@font-face {
    font-family: 'Digital-7';
    src: url('fonts/digital-7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    
}
@font-face {
    font-family: 'Digital-7';
    src: url('fonts/Digital-7.ttf') format('truetype');
}

.number::before{
    content: "0";
}
.number::after{
    content: "";
}

.number{
    width: 100%;
    height: max-content;
    cursor: text;
    font-family: 'Digital-7', monospace;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    justify-content: end;
    padding: 1rem;
    border-top-right-radius: 5pt;
    border-top-left-radius: 5pt;
    background-color: hsla(255,10%,100%,0.45);
    background-color: hsla(219, 79%, 66%,0.5);
    transition: all 0.4s linear;
    /* background-color: hsla(330, 91%, 34%, 0.5); */
}
.number:hover{
    background-color: hsla(219, 79%, 66%,0.8);
    border-bottom: solid 1pt white;
}
.btn{
    display: grid;
    padding: 1rem;
    gap: 1rem;
    background-color: hsla(220, 79%, 66%,0.9);
    /* background-color: blue; */
    grid-template-columns: repeat(4,1fr);
    /* border: 1px solid #eee; */
    border-bottom-left-radius: 5pt;
    
}
.btn span{  
    font-size: 1.25rem;
    padding: 0.8rem ;
    box-shadow: 2px 2px 4px white , -2px -2px 4px hsla(255,100%,100%,0.45);
    text-align: center;
    border-radius: 5pt;
    cursor: pointer;
    font-family: "Digital-7", monospace;
    transition: all .4s linear;
    /* background-color: hsla(255,100%,100%,0.25); */
}
.btn span.op{
    background-color: #7A71CF;

}

.btn span:hover{
    box-shadow: 2px 2px 5px hsla(255,10%,100%,0.4);
}  