nav {
    top: 0%;
    width: 100%;
    position: fixed;
    display: flex;
    z-index: 4;
    flex-direction: row;
    flex-wrap: wrap;
    backdrop-filter: blur(8px);
    /* background: hsla(0, 100%, 100%, 0.1); */
    justify-content: space-between;
    
  }
  nav > * {
    color: white;
    cursor: pointer;
    pointer-events: all;
  }
  nav .name {
    display: flex;
    word-break: break-all;
    padding: 1rem;
    margin: auto;
    font-size: clamp(2rem, 2vw + 1rem, 4rem);
    /* border: solid 2px white; */
  }
  nav .name:hover{
    border-radius: 0px;
  }
  nav .name a{
    font-size: clamp(2rem, 2vw + 1rem, 4rem);
    color: white; text-decoration: none;
  }
  nav .name a::first-letter{
    font-size: clamp(2rem, 2vw + 1rem, 4rem);
    color: #de6ffa;
  }
  

  nav .name a:hover::first-letter{
    color: black;
  }

  nav .links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* border: solid 2px white; */
  }
  nav .links .link {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 2px rebeccapurple; */
    text-align: center;
  }
  nav .links .link a {
    text-decoration: none;
    color: inherit;
    width: max-content;
    height: max-content;
    position: relative;
    margin: 1rem;
    /* font-size: 1.25rem; */
    /* border: solid 2px rebeccapurple; */
    padding: 0.5rem 0;
  }

  nav .links .link a::after , .name a:hover::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 0px;
    height: 2pt;
    transition: all 0.18s linear;
  }
  nav .links .link a:hover::after , .name a:hover::after{
    width: 85%;
    padding: 0 1rem;
    height: 45%;
    background-color: #de6ffa;
    border-radius: 2rem;
    border-bottom: solid 2pt #de6ffa;
  }

  nav .links .link a::before , .name a::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 0px;
    height: 2pt;
    transition: all 0.1s linear;
  }
  nav .links .link a::first-letter {
    color: #de6ffa;
    font-size: 1.25rem;
    font-weight: bold;
  }
  nav .links .link a:hover::before , .name a:hover::before{
    /* padding: 0 1rem; */
    width: 85%;
    height: 45%;
    padding: 0 1rem;
    background-color: #de6ffa;
    border-radius: 2rem;
    border-top: solid 2pt #de6ffa;
  }
  nav .links .link a:hover::first-letter {
    color: black;
    font-weight: bold;
    font-size: 1.25rem;
  }
