.con-3{
    background-color: black;
    display: grid;
    height: 100vh;
    width: 100%;
  
    background: linear-gradient(
        45deg,
        black,
        rgba(200, 100, 255, 0.95),
        rgba(200, 100, 255, 0.85)
      );
      background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
}

.con-3 .skills >*{
    margin-top: 10px ;
}
.con-3 .skills{    
    top: 0%;
    left: 0%;
    margin: auto;
    width: max-content;
    position: relative;
    /* z-index: 1; */
    height: max-content;
    font-size: 1.25rem;
    padding: 1em ;
    background: linear-gradient(
        45deg,
        rgba(100, 10, 150, 0.25),
        rgba(100, 10, 150, 0.55),
        black
      );
      border-radius: 1em;
      transition: all 0.5s;
      
      animation: rot 0.5s linear 1;
}

@keyframes rot{
    0%{
        transform: translateX(-100%) ;
        /* left: -100%; */
        opacity: 0;
    }
    100%{
        transform: translateX(50%) ;
        /* left: 50%; */
        opacity: 1;
    }
}
.skills:hover{
    position: relative;
    z-index: 2;
    box-shadow:  8px 8px 18px black;
}
.skills:hover::before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: rotate(5deg);
    background: linear-gradient(
        45deg,
        black,
        white,
      );
      animation: l 0.5s linear 1;
}

@keyframes l{
    0%{
        transform: translateX(100%) rotate(0);
        /* left: -100%; */
        opacity: 0;
    }
    100%{
        transform: translateX(40%) rotate(360deg);
        /* left: 50%; */
        opacity: 1;
    }
}
.skills:hover::after{
    content: "";
    bottom: 0;
    right: 0;
    border-radius: 50%;
    /* opacity: 0.4; */
    position: absolute;
    z-index: -2;
    width: 50px;
    height: 50px;
    transform: rotate(10deg) ;
    background: linear-gradient(
        45deg,
        black,
        white,
      
      );
      animation: r 0.5s linear 1;
}

@keyframes r{
    0%{
        transform: translateX(-100%) ;
        /* left: -100%; */
        opacity: 0;
    }
    100%{
        transform: translateX(50%);
        /* left: 50%; */
        opacity: 1;
    }
}