.con-2{
    display: grid;
    height: 100vh;
    width: 100%;
    background-color: black;
    background-blend-mode: overlay screen;
    
    background: linear-gradient(
        45deg,
        rgba(100, 10, 150, 0.25),
        rgba(100, 10, 150, 0.55),
        black
      );
      background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
      background-image: linear-gradient(45deg, #ec77ab 0%, #7873f5 100%);
    /* overflow: hidden; */
}


.con-2 .about{    
    margin: auto;
    width: 80%;
    position: relative;
    height: max-content;
    font-size: 1.25rem;
    padding: 1em ;
    border-radius: 1em;
    background: linear-gradient(
        45deg,
        rgba(200, 100, 255, 0.85),
        rgba(200, 100, 255, 0.95),
        black
      );
      transition: all 0.5s;
      animation: rot 0.5s linear 1;
}

@keyframes rot{
    0%{
        transform: translateX(-100%) scale(0);
        /* left: -100%; */
        opacity: 0;
    }
    100%{
        transform: translateX(50%) scale(1);
        /* left: 50%; */
        opacity: 1;
    }
}
.about:hover::before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    width: 50px;
    height: 50px;
    opacity: 0.5;
    transform: rotate(5deg);
    border-radius: 1em;
    background: linear-gradient(
        45deg,
        black,
        rgba(200, 100, 255, 0.95),
        rgba(200, 100, 255, 0.85)
      );
      animation: l 0.5s linear 1;
}

@keyframes l{
    0%{
        transform: translateX(100%) rotate(0);
        /* left: -100%; */
        opacity: 0;
    }
    100%{
        transform: translateX(50%) rotate(360deg);
        /* left: 50%; */
        opacity: 1;
    }
}
